{% extends 'admin/admin_layout.html' %}
{% block admin_complaints %}active{% endblock %}
{% block admin_content %}
<div class="card-deck grid">
    {% for complaint in complaints %}
        <div class="card">
            {% if complaint.status=='Unresolved' %}
                <div class="card-header bg-danger">
                    <div class="article-metadata row justify-content-between">
                        <div class="col-md-6">
                            <h4 class="card-title text-white font-weight-bold">{{ complaint.title }}</h4>
                        </div> 
                        <div class="col-md-4 mt-1">
                            <small class="text-white" style="font-size: 14px;">By: {{ complaint.author.firstname }} {{complaint.author.lastname}}</small>
                        </div>
                    </div>
                </div>
                <div class="card-body">                                       
                    <p style="color:black;">{{complaint.content}}</p>
                    <h6 style="color:red; text-align: center; font-weight:bold;">{{ complaint.status }}</h6>
                    <div class="text-center">
                        <a class="btn btn-success" href="{{ url_for('complaint_status', complaints=complaint.id) }}">Resolve</a>
                    </div>
                </div>
            {% else %}
                <div class="card-header bg-success">
                    <div class="article-metadata row justify-content-between">
                        <div class="col-md-6">
                            <h4 class="card-title text-white font-weight-bold">{{ complaint.title }}</h4>
                        </div> 
                        <div class="col-md-4 mt-1">
                            <small class="text-white" style="font-size: 14px;">By: {{ complaint.author.firstname }} {{complaint.author.lastname}}</small>
                        </div>
                    </div>
                </div>
                <div class="card-body">                                       
                    <p style="color:black;">{{complaint.content}}</p>
                    <h6 style="color:#28A745; text-align: center; font-weight:bold;">{{ complaint.status }}</h6>
                    <div class="text-center">
                        <a class="btn btn-danger" href="{{ url_for('complaint_status', complaints=complaint.id) }}">Unresolve</a>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endfor %}
</div>

{% endblock admin_content %}